attrs
coverage[toml]
croniter
django
django-allauth
django-anymail[mailgun]
django-browser-reload
django-click
django-coverage-plugin
django-debug-toolbar
django-extensions
django-filter
django-flyio
django-health-check
django-htmx
django-simple-history
django-simple-nav
django-stubs
django-tailwind-cli
django-template-partials
django-twc-toolbox
environs[django]
gunicorn
heroicons
honcho
httpx
ipython
markdown-it-py[plugins]
model_bakery
mypy
neapolitan
pip-tools
pre-commit
psycopg
psycopg-binary
pygments
pyotp
pytest
pytest-django
pytest-is-running
pytest-randomly
pytest-reverse
pytest-xdist
qrcode[pil]
ruff
sentry-sdk
types-pygments
whitenoise
