/**
 * Syntax highlighting styles
 */
.highlighter-rouge {
  background: $grey-color-light;
  color: $text-color;
  @extend %vertical-rhythm;
}
.highlight {
  background: #202020; 
  color: #d0d0d0;
  @extend %vertical-rhythm;

 .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }
 pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }

 .bp { color: #2594a1 } /* Name.Builtin.Pseudo */
 .c { color: #999999; font-style: italic } /* Comment */
 .c1 { color: #999999; font-style: italic } /* Comment.Single */
 .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
 .cm { color: #999999; font-style: italic } /* Comment.Multiline */
 .cp { color: #e15a5a; font-weight: bold } /* Comment.Preproc */
 .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
 .cs { color: #f74646; font-weight: bold; background-color: #520000 } /* Comment.Special */
 .dl { color: #ed9d13 } /* Literal.String.Delimiter */
 .err { color: #e75858; background-color: #e3d2d2 } /* Error */
 .esc { color: #d0d0d0 } /* Escape */
 .fm { color: #548bd3 } /* Name.Function.Magic */
 .g { color: #d0d0d0 } /* Generic */
 .gd { color: #e75959 } /* Generic.Deleted */
 .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
 .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
 .gi { color: #589819 } /* Generic.Inserted */
 .go { color: #cccccc } /* Generic.Output */
 .gp { color: #aaaaaa } /* Generic.Prompt */
 .gr { color: #e75959 } /* Generic.Error */
 .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
 .gt { color: #e75959 } /* Generic.Traceback */
 .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
 .hll { background-color: #404040 }
 .il { color: #438dc4 } /* Literal.Number.Integer.Long */
 .k { color: #6ab825; font-weight: bold } /* Keyword */
 .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
 .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
 .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
 .kp { color: #6ab825 } /* Keyword.Pseudo */
 .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
 .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
 .l { color: #d0d0d0 } /* Literal */
 .ld { color: #d0d0d0 } /* Literal.Date */
 .m { color: #438dc4 } /* Literal.Number */
 .mb { color: #438dc4 } /* Literal.Number.Bin */
 .mf { color: #438dc4 } /* Literal.Number.Float */
 .mh { color: #438dc4 } /* Literal.Number.Hex */
 .mi { color: #438dc4 } /* Literal.Number.Integer */
 .mo { color: #438dc4 } /* Literal.Number.Oct */
 .n { color: #d0d0d0 } /* Name */
 .na { color: #bbbbbb } /* Name.Attribute */
 .nb { color: #2594a1 } /* Name.Builtin */
 .nc { color: #548bd3; text-decoration: underline } /* Name.Class */
 .nd { color: #ffa500 } /* Name.Decorator */
 .ne { color: #bbbbbb } /* Name.Exception */
 .nf { color: #548bd3 } /* Name.Function */
 .ni { color: #d0d0d0 } /* Name.Entity */
 .nl { color: #d0d0d0 } /* Name.Label */
 .nn { color: #548bd3; text-decoration: underline } /* Name.Namespace */
 .no { color: #40ffff } /* Name.Constant */
 .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
 .nv { color: #40ffff } /* Name.Variable */
 .nx { color: #d0d0d0 } /* Name.Other */
 .o { color: #d0d0d0 } /* Operator */
 .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
 .p { color: #d0d0d0 } /* Punctuation */
 .py { color: #d0d0d0 } /* Name.Property */
 .s { color: #ed9d13 } /* Literal.String */
 .s1 { color: #ed9d13 } /* Literal.String.Single */
 .s2 { color: #ed9d13 } /* Literal.String.Double */
 .sa { color: #ed9d13 } /* Literal.String.Affix */
 .sb { color: #ed9d13 } /* Literal.String.Backtick */
 .sc { color: #ed9d13 } /* Literal.String.Char */
 .sd { color: #ed9d13 } /* Literal.String.Doc */
 .se { color: #ed9d13 } /* Literal.String.Escape */
 .sh { color: #ed9d13 } /* Literal.String.Heredoc */
 .si { color: #ed9d13 } /* Literal.String.Interpol */
 .sr { color: #ed9d13 } /* Literal.String.Regex */
 .ss { color: #ed9d13 } /* Literal.String.Symbol */
 .sx { color: #ffa500 } /* Literal.String.Other */
 .vc { color: #40ffff } /* Name.Variable.Class */
 .vg { color: #40ffff } /* Name.Variable.Global */
 .vi { color: #40ffff } /* Name.Variable.Instance */
 .vm { color: #40ffff } /* Name.Variable.Magic */
 .w { color: #878787 } /* Text.Whitespace */
 .x { color: #d0d0d0 } /* Other */
}