@import "./fonts.css";
@import "./syntax-highlights/light.css";
@import "./syntax-highlights/dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container-breakout {
    margin-left: -33.33% !important;
    margin-right: -33.33% !important;
  }
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
