---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import EnvelopeIcon from "../components/IconEnvelope.astro";
import config from "../config";
---

<Layout title="Home" showLayoutHeader={false}>
  <section class="flex flex-col justify-between py-12 sm:flex-row">
    <div class="flex flex-col justify-center space-y-4">
      <h1 class="text-3xl md:text-5xl leading-tighter">
        👋<span class="pl-2 font-bold tracking-tight">Hi, my name is Josh.</span
        >
      </h1>
      <div>
        <p class="pt-2 text-lg font-medium md:pt-4 md:text-2xl">
          I am a web developer in Tuscaloosa, AL.
        </p>
        <p>I make things on the web.</p>
      </div>
      <div class="flex items-center mt-4 space-x-2 sm:space-x-4 sm:mt-0">
        <a title="Say hello!" href="mailto:hello@joshthomas.dev">
          <span class="sr-only">Email</span>
          <EnvelopeIcon
            size="h-4 w-4"
            className="sm:h-6 sm:w-6 hover:fill-current hover:stroke-gray-700 hover:drop-shadow dark:hover:text-gray-200"
          />
        </a>
        {
          config.social.map(({ title, url, Icon }) => (
            <a href={url} rel={title === "Mastodon" ? "me" : ""}>
              <span class="sr-only">{title}</span>
              <Icon
                size="h-4 w-4 sm:h-6 sm:w-6"
                className="hover:text-gray-800 dark:hover:text-gray-300 hover:drop-shadow"
              />
            </a>
          ))
        }
      </div>
    </div>
    <img
      src="/me.png"
      width="250"
      height="250"
      alt="A picture of Josh"
      class="order-first mx-auto mb-8 rounded-full sm:mb-0 sm:order-none drop-shadow-md"
    />
  </section>
</Layout>
