/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../bricolage_grotesque.css);
@import url(../inter.css);
@import url(../monolisa.css);
section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #fff;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
:root {
  --base-font-sans: InterVariable, sans-serif;
  --base-font-serif: serif;
  --base-font-mono: MonoLisa, monospace;
  --base-line-height: 1;

  --base-font-size: 0.5rem;
  /* sm */
  @media (min-width: 640px) {
    --base-font-size: 0.75rem;
  }
  /* md */
  @media (min-width: 768px) {
    --base-font-size: 1rem;
  }
  /* lg */
  @media (min-width: 1024px) {
    --base-font-size: 2rem;
  }
  /* xl */
  @media (min-width: 1280px) {
    --base-font-size: 2.25rem;
  }
  /* 2xl */
  @media (min-width: 1024px) {
    --base-font-size: 2.5rem;
  }

  --r-background-color: var(--tw-color-white, #fff);

  --r-main-font: var(--base-font-sans);
  --r-main-font-size: var(--base-font-size);
  --r-main-line-height: var(--base-line-height);
  --r-main-color: var(--tw-color-gray-900, #222);

  --r-block-margin: 20px;

  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: BricolageGrotesque, var(--base-font-sans);
  --r-heading-line-height: calc(var(--r-main-line-height) * 1.3);
  --r-heading-letter-spacing: normal;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 700;

  --r-heading1-size: calc(var(--r-main-font-size) * 4.25);
  --r-heading1-font-weight: 900;
  --r-heading1-text-shadow: 1px 1px 2px black;

  --r-heading2-size: calc(var(--r-main-font-size) * 2.5);
  --r-heading2-font-weight: 800;

  --r-heading3-size: calc(var(--r-main-font-size) * 1.75);

  --r-heading4-size: calc(var(--r-main-font-size) * 1.25);

  --r-code-font: var(--base-font-mono);
  --r-code-font-size: calc(var(--r-main-font-size) * 1.1);

  --r-link-color: var(--tw-color-white, #2a76dd);
  --r-link-color-dark: var(--tw-color-blue-500, #1a53a1);
  --r-link-color-hover: var(--tw-color-blue-400, #6ca0e8);

  --r-paragraph-line-height: var(--base-line-height);

  --r-selection-background-color: var(--tw-color-blue-300, #98bdef);
  --r-selection-color: var(--tw-color-white, #fff);

  --r-overlay-element-bg-color: 0, 0, 0;
  --r-overlay-element-fg-color: 240, 240, 240;

  font-feature-settings:
    "liga" 1,
    "calt" 1,
    "dlig" 1,
    "ss02" 1,
    "ss03" 1;
}

.reveal-viewport {
  background: var(--tw-color-white, #fff);
  background-color: var(--r-background-color);
}

.reveal ::selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: var(--r-main-line-height);
  font-weight: inherit;
}

/*********************************************
 * OTHER
 *********************************************/

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal img {
  margin: var(--r-block-margin) 0;
}

/*********************************************
 * Frame helper
 *********************************************/
.reveal .r-frame {
  border: 4px solid var(--r-main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--r-link-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: var(--r-link-color);
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--r-link-color);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
}
