{% extends "base.html" %}

{% load static %}
{% load heroicons %}

{% block title %}
  {{ entry.title }} | {{ site.title }}
{% endblock title %}

{% block content %}
  <article class="mt-8">
    <header class="flex flex-col">
      <h2 class="flex flex-col justify-between items-start text-3xl font-bold tracking-tight text-gray-800 sm:flex-row sm:items-center sm:text-4xl dark:text-gray-100">
        {{ entry.title }}
        {% if entry.is_draft %}
          <span class="inline-flex items-center py-1 px-2 mt-1 text-base font-medium text-red-700 bg-red-100 rounded-md sm:ml-2">
            Draft
          </span>
        {% endif %}
      </h2>
      <time datetime="{{ entry.published_at }}"
            class="mt-4 text-sm font-medium text-gray-700 dark:text-gray-200">
        {{ entry.published_at|date:"F j, Y" }}
      </time>
    </header>
    <div class="mt-8 max-w-none prose dark:prose-invert hover:prose-a:text-blue-500">{{ entry.render_body }}</div>
  </article>
{% endblock content %}

{% block extra_body %}
  {% if request.user.is_staff %}
    <div class="flex fixed right-0 bottom-0 z-50 justify-center items-center my-6 mx-6 sm:mx-12 group">
      <a href="{% url 'admin:blog_entry_change' entry.pk %}"
         class="p-4 bg-gray-200 rounded-full border border-gray-200 dark:bg-gray-700 dark:border-gray-500 group-hover:bg-gray-300 group-hover:border-gray-300 dark:group-hover:border-gray-400 dark:group-hover:bg-gray-500"
         hx-boost="false">
        <span class="sr-only">Edit</span>
        {% heroicon_outline "pencil-square" class="w-6 h-6 text-gray-500 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-gray-50" %}
      </a>
    </div>
  {% endif %}
{% endblock extra_body %}
