{% extends "base.html" %}
{% load static %}
{% load heroicons %}
{% load ui %}

{% block title %}
  {{ entry.title }} | {{ site.title }}
{% endblock title %}

{% block content %}
  <article>
    <header class="flex flex-col">
      <h2 class="flex items-start sm:items-center flex-col sm:flex-row justify-between mt-6 text-3xl font-bold tracking-tight text-gray-800 sm:text-4xl dark:text-gray-100">
        {{ entry.title }}
        {% if entry.is_draft %}
          <span class="inline-flex items-center py-1 mt-1 px-2 sm:ml-2 text-base font-medium text-red-700 bg-red-100 rounded-md">
            Draft
          </span>
        {% endif %}
      </h2>
      <time datetime="{{ entry.created_at }}" class="mt-4 text-sm text-gray-600 dark:text-gray-300">
        {{ entry.created_at|date:"F j, Y" }}
      </time>
    </header>
    <div class="mt-8 max-w-none prose dark:prose-invert hover:prose-a:text-blue-500">
      {{ entry.body_rendered }}
    </div>
  </article>
{% endblock content %}

{% block extra_body %}
  {% if request.user.is_staff %}
    <div class="fixed z-50 bottom-0 right-0 mx-6 sm:mx-12 my-6 group flex items-center justify-center">
      <a href="{% url 'admin:blog_entry_change' entry.pk %}" class="p-4 rounded-full bg-gray-50 dark:bg-gray-950 border border-transparent group-hover:border-gray-300 dark:group-hover:border-gray-500 group-hover:bg-gray-300 dark:group-hover:bg-gray-700" hx-boost="false">
        <span class="sr-only">Edit</span>
        {% heroicon_outline "pencil-square" class="h-6 w-6 text-gray-400 dark:text-gray-500 group-hover:text-gray-900 dark:group-hover:text-gray-200" %}
      </a>
    </div>
  {% endif %}
{% endblock extra_body %}
