{% extends "base.html" %}

{% load static %}
{% load heroicons %}

{% block title %}
  Blog | {{ site.title }}
{% endblock title %}

{% block content %}
  <h2 class="sr-only">Blog</h2>
  <ol class="mx-auto lg:mx-0">

    {% block pre_content %}
    {% endblock pre_content %}

    {% for group in dated_items %}
      {% if group.items %}
        <li class="my-24 first-of-type:mt-8 last-of-type:mb-8">
          <div class="relative">
            <div class="flex absolute inset-0 items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="flex relative justify-end mr-2 text-center sm:mr-4">
              <time datetime="{{ group.date|date:"Y-m-d" }}"
                    class="px-3 w-40 text-xs font-semibold leading-6 text-gray-600 bg-gray-50 border border-gray-300 sm:text-sm dark:text-gray-800 dark:bg-gray-300 dark:border-transparent">
                {{ group.date|date:"F j, Y" }}
              </time>
            </div>
          </div>
          {% for item in group.items %}
            <article class="group first-of-type:mt-12 pr-2 {% if item.type == 'entry' %}my-16{% else %}space-y-2 {% if item.entry.comments %}my-16{% else %}my-12{% endif %}{% endif %}">
              <div class="flex flex-col justify-between items-start sm:flex-row sm:items-center">
                <h3 class="{% if item.type == 'entry' %}text-2xl sm:text-3xl{% else %}text-lg sm:text-xl{% endif %} font-semibold text-gray-800 dark:text-gray-200">
                  {% if item.type == 'link' %}
                    <a href="{{ item.entry.get_absolute_url }}"
                       class="flex hover:text-blue-500">
                      {# djLint:off H006 #}
                      <div class="flex">
                        <img src="https://s2.googleusercontent.com/s2/favicons?domain_url={{ item.entry.get_absolute_url }}"
                             alt="{{ item.entry.title }} icon"
                             class="mt-1.5 mr-1.5 w-4 h-4">
                        {# djLint:on H006 #}
                        <span class="underline">{{ item.entry.title }}</span>
                      </div>
                    </a>
                  {% elif item.type == 'entry' %}
                    <a href="{{ item.entry.get_absolute_url }}"
                       class="flex gap-1 items-center hover:text-blue-500"
                       preload="mouseover">
                      <span class="group-hover:underline">{{ item.entry.title }}</span>
                    </a>
                  {% endif %}
                </h3>
                {% if item.entry.is_draft %}
                  <span class="inline-flex items-center py-1 px-2 mt-1 text-sm font-medium text-red-700 bg-red-100 rounded-md sm:ml-2">
                    Draft
                  </span>
                {% endif %}
              </div>
              {% if item.entry.tags %}
                <div class="flex gap-x-4 items-center my-1">
                  {% for tag in item.entry.tags.all %}
                    <a href="{{ tag.get_absolute_url }}"
                       class="inline-flex items-center py-0.5 px-1.5 text-xs font-medium text-gray-600 bg-gray-100 rounded-md ring-1 ring-inset dark:text-gray-800 dark:bg-gray-300 ring-gray-600/10">
                      {{ tag.name }}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
              {% if item.type == 'entry' %}
                <div class="mt-5 max-w-none text-gray-600 dark:text-gray-200 prose dark:prose-invert hover:prose-a:text-blue-500">
                  {{ item.entry.render_summary }}
                </div>
              {% endif %}
              {% if item.type == 'link' and item.entry.comments %}
                <div class="!mt-4 max-w-none text-gray-600 dark:text-gray-200 prose prose-sm dark:prose-invert hover:prose-a:text-blue-500">
                  {{ item.entry.render_comments }}
                </div>
              {% endif %}
            </article>
          {% endfor %}
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.paginator.num_pages > 1 %}
      <nav class="flex justify-between items-center mt-8">
        <p class="text-sm text-gray-800 dark:text-gray-200">
          Page
          <span class="font-medium">{{ page_obj.number }}</span>
          of
          <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
        </p>
        <div class="flex mt-1 text-sm">
          {% if page_obj.has_previous %}
            <span class="flex items-center space-x-2">
              <a href="?page=1" class="flex items-center hover:underline">
                {% heroicon_solid "arrow-small-left" class='mr-1 w-4 h-4' %}
                first
              </a>
              <a href="?page={{ page_obj.previous_page_number }}"
                 class="hover:underline">previous</a>
            </span>
          {% endif %}
          {% if page_obj.has_next %}
            <span class="flex items-center ml-auto space-x-2">
              <a href="?page={{ page_obj.next_page_number }}" class="hover:underline">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}"
                 class="flex items-center hover:underline">
                last
                {% heroicon_solid "arrow-small-right" class='ml-1 w-4 h-4' %}
              </a>
            </span>
          {% endif %}
        </div>
      </nav>
    {% endif %}
  </ol>
{% endblock content %}
