{% extends "base.html" %}
{% load static %}
{% load heroicons %}
{% load ui %}
{% block title %}
  Blog | {{ site.title }}
{% endblock title %}
{% block content %}
  <h2 class="sr-only">Blog</h2>
  <ol class="mx-auto lg:mx-0">
    {% block pre_content %}
    {% endblock pre_content %}
    {% for day in days %}
      {% if day.items %}
        <li class="my-24 first-of-type:mt-8 last-of-type:mb-8">
          <div class="relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-end mr-2 sm:mr-4">
              <time datetime="{{ day.date }}"
                    class="bg-gray-50 px-3 text-xs sm:text-sm font-semibold leading-6 text-gray-800">
                {{ day.date|date:"F j, Y" }}
              </time>
            </div>
          </div>
          {% for entry, type in day.items %}
            <article class="group {% if type == 'entry' %}my-16 first-of-type:mt-8{% else %}my-8{% endif %}">
              <div class="flex flex-col justify-between items-start sm:flex-row sm:items-center">
                <h3 class="{% if type == 'entry' %}text-xl sm:text-2xl{% else %}text-base sm:text-lg{% endif %} font-semibold text-gray-800 dark:text-gray-200">
                  <a href="{{ entry.get_absolute_url }}"
                     class="group-hover:text-blue-500"
                     {% if type == 'entry' %}preload="mouseover"{% endif %}>
                    {% if type == 'link' %}
                      {% heroicon_mini "link" class='w-4 inline-block h-4 mb-0.5 mr-0.5' %}
                    {% endif %}
                    <span class="{% if type == 'entry' %}group-hover:underline{% elif type == 'link' %}underline{% endif %}">{{ entry.title }}</span>
                  </a>
                </h3>
                {% if entry.is_draft %}
                  <span class="inline-flex items-center py-1 px-2 mt-1 text-sm font-medium text-red-700 bg-red-100 rounded-md sm:ml-2">
                    Draft
                  </span>
                {% endif %}
              </div>
              {% if entry.tags %}
                <div class="flex gap-x-4 items-center my-1">
                  {% for tag in entry.tags.all %}
                    <a href="{{ tag.get_absolute_url }}"
                       class="inline-flex items-center py-0.5 px-1.5 text-xs font-medium text-gray-600 bg-gray-100 rounded-md ring-1 ring-inset ring-gray-600/10">
                      {{ tag.name }}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
              {% if type == 'entry' %}
                <div class="mt-5 max-w-none text-gray-600 dark:text-gray-200 prose">{{ entry.render_summary }}</div>
              {% endif %}
              {% if type == 'link' and entry.comments %}
                <div class="mt-0 max-w-none text-gray-600 dark:text-gray-200 prose prose-sm">{{ entry.render_comments }}</div>
              {% endif %}
            </article>
          {% endfor %}
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.paginator.num_pages > 1 %}
      <nav class="flex items-center justify-between mt-8">
        <p class="text-sm text-gray-800 dark:text-gray-200">
          Page
          <span class="font-medium">{{ page_obj.number }}</span>
          of
          <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
        </p>
        <div class="flex mt-1 text-sm">
          {% if page_obj.has_previous %}
            <span class="flex items-center space-x-2">
              <a href="?page=1" class="flex items-center hover:underline">
                {% heroicon_solid "arrow-small-left" class='mr-1 w-4 h-4' %}
                first
              </a>
              <a href="?page={{ page_obj.previous_page_number }}"
                 class="hover:underline">previous</a>
            </span>
          {% endif %}
          {% if page_obj.has_next %}
            <span class="flex items-center ml-auto space-x-2">
              <a href="?page={{ page_obj.next_page_number }}" class="hover:underline">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}"
                 class="flex items-center hover:underline">
                last
                {% heroicon_solid "arrow-small-right" class='ml-1 w-4 h-4' %}
              </a>
            </span>
          {% endif %}
        </div>
      </nav>
    {% endif %}
  </div>
{% endblock content %}
