{% extends "base.html" %}
{% load static %}
{% load heroicons %}
{% load ui %}

{% block content %}
  <div class="mx-auto mt-6">
    <h2 class="mt-6 text-2xl font-bold tracking-tight sm:text-3xl text-zinc-800 dark:text-zinc-100">
      {{ tag.name }}
    </h2>
    <div class="mt-10 space-y-16">
      {% for entry in entries %}
        <article class="flex flex-col justify-between items-start max-w-xl">
          <div class="flex gap-x-4 items-center text-xs">
            <time datetime="{{ entry.created_at }}" class="text-gray-500">
              {{ entry.created_at|date:"F j, Y" }}
            </time>
            {% if entry.tags %}
              {% for tag in entry.tags.all %}
                <a href="{{ tag.get_absolute_url }}"
                   class="relative z-10 py-1.5 px-3 font-medium text-gray-600 bg-gray-100 rounded-full hover:underline hover:bg-gray-200">
                  {{ tag.name }}
                </a>
              {% endfor %}
            {% endif %}
          </div>
          <div class="relative group">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600 group-hover:underline">
              <a href="{{ entry.get_absolute_url }}">
                <span class="absolute inset-0"></span>
                {{ entry.title }}
              </a>
            </h3>
            <p class="mt-5 text-sm leading-6 text-gray-600 line-clamp-3">
              {{ entry.summary_rendered }}
            </p>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
