---
import clsx from "clsx";
import type { Tag } from "@tryghost/content-api";

import { getBadgeColors } from "../lib/color";

export interface Props {
  tag: Tag;
}

const { tag } = Astro.props;

const { name, accent_color } = tag;

const { background, color } = getBadgeColors(accent_color);
---

<span
  class={clsx(
    "inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium hover:opacity-75"
  )}
>
  {name}
</span>

<style define:vars={{ background, color }}>
  span {
    background: var(--background);
    color: var(--color);
  }
</style>
