---
import clsx from "clsx";
import config from "../config";
import ThemeToggle from "./ThemeToggle";
---

<header
  class="px-4 pt-4 text-lg font-semibold"
>
  <div class="flex items-center justify-between">
    <h1 class="text-xl">
      <a href="/" rel="prefetch" class="link link-no-underline">Josh Thomas</a>
    </h1>
    <ThemeToggle client:load />
  </div>
</header>
