{% load django_htmx %}
{% load django_simple_nav %}
{% load heroicons %}
{% load tailwind_cli %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  {% block head %}
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>

        {% block title %}
          {{ site.title }}
        {% endblock title %}

      </title>

      {% block css %}
      {% endblock css %}

      {% include "_fonts.html" %}
      <script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.min.js"
              integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
              crossorigin="anonymous"
              defer></script>
      <script src="https://unpkg.com/htmx-ext-head-support@2.0.2/head-support.js"
              integrity="sha384-alEpTwaoXBHw9xh1d3fDZ4lNnOqQYkcIaRQTSQXgSZnAhcnj1H4F27lOZ1Eci1Sp"
              crossorigin="anonymous"
              defer></script>
      <script src="https://unpkg.com/idiomorph@0.3.0/dist/idiomorph-ext.min.js"
              integrity="sha384-01awMgY2Qxoo57dFZwehcB4wqi9TunC6fiF9hpPaDsLu+ayOG+WvoatvgPWquZh8"
              crossorigin="anonymous"
              defer></script>
      {% django_htmx_script %}
      <script>
      document.addEventListener("htmx:afterSettle", (event) => {
        if ("Alpine" in window) {
          Alpine.start()
        }
      });
      </script>
      <script src="https://unpkg.com/alpinejs@3.14.1/dist/cdn.min.js"
              integrity="sha384-l8f0VcPi/M1iHPv8egOnY/15TDwqgbOR1anMIJWvU6nLRgZVLTLSaNqi/TOoT5Fh"
              crossorigin="anonymous"
              defer></script>

      {% block javascript_head %}
      {% endblock javascript_head %}

      {% block head_end %}
      {% endblock head_end %}

    </head>
  {% endblock head %}

  {% block body %}
    <body hx-ext="head-support">

      {% block body_start %}
      {% endblock body_start %}

      <div class="px-2.5 min-h-full lg:px-0">

        {% block main %}
          <main class="@container/main">

            {% block content_start %}
            {% endblock content_start %}

            {% block content %}
            {% endblock content %}

            {% block content_end %}
            {% endblock content_end %}

          </main>
        {% endblock main %}

      </div>

      {% block javascript_foot %}
      {% endblock javascript_foot %}

      {% block body_end %}
      {% endblock body_end %}

    </body>
  {% endblock body %}

</html>
