{% load django_htmx %}
{% load django_simple_nav %}
{% load heroicons %}
{% load tailwind_cli %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  {% block head %}
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>

        {% block title %}
          {{ site.title }}
        {% endblock title %}

      </title>

      {% block css %}
      {% endblock css %}

      {% include "_fonts.html" %}
      <script src="{% static 'js/htmx.2.0.2.min.js' %}" defer></script>
      <script src="{% static 'js/htmx-ext.head-support.2.0.2.js' %}" defer></script>
      <script src="{% static 'js/htmx-ext.morphdom-swap.2.0.0.js' %}" defer></script>
      {% django_htmx_script %}
      <script>
      document.addEventListener("htmx:afterSettle", (event) => {
        if ("Alpine" in window) {
          Alpine.start()
        }
      });
      </script>
      <script src="{% static 'js/alpinejs.3.14.1.min.js' %}" defer></script>

      {% block javascript_head %}
      {% endblock javascript_head %}

      {% block head_end %}
      {% endblock head_end %}

    </head>
  {% endblock head %}

  {% block body %}
    <body class="flex min-h-screen" hx-ext="head-support">

      {% block body_start %}
      {% endblock body_start %}

      {% block main %}
        <main class="flex-1 @container/main">

          {% block content_start %}
          {% endblock content_start %}

          {% block content %}
          {% endblock content %}

          {% block content_end %}
          {% endblock content_end %}

        </main>
      {% endblock main %}

      {% block javascript_foot %}
      {% endblock javascript_foot %}

      {% block body_end %}
      {% endblock body_end %}

    </body>
  {% endblock body %}

</html>
