{% load heroicons %}

<div class="grid grid-cols-[theme(spacing.10)_1fr_theme(spacing.10)]"
     id="{{ widget.attrs.id }}_container"
     x-data="{ hidden: true, hasFocus: false, handleFocusLoss() { if (!this.hasFocus) { this.$dispatch('password-blur'); } } }">
  <input :type="hidden ? 'password' : 'text'" name="{{ widget.name }}" class="col-span-3 col-start-1 row-start-1 px-3 pr-8 w-full h-10 text-sm leading-6 placeholder-gray-400 text-gray-700 bg-white rounded-lg border border-gray-300 shadow-sm focus:border-blue-500 border-b-gray-400/80" {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %} hx-preserve="true" x-on:focus="hasFocus = true" x-on:blur="hasFocus = false; $nextTick(() => handleFocusLoss())"
  {% include "django/forms/widgets/attrs.html" %}
  >
  <button type="button"
          id="{{ widget.attrs.id }}_toggle"
          class="flex z-10 col-start-3 row-start-1 justify-center items-center place-self-center w-full h-full text-gray-400 rounded-r-lg hover:text-gray-700 focus:text-gray-700 focus:outline focus:outline-2 focus:outline-blue-500"
          x-on:focus="hasFocus = true"
          x-on:blur="hasFocus = false; $nextTick(() => handleFocusLoss())"
          @click="hidden = !hidden">
    {% heroicon_outline "eye-slash" class="size-4" x_show="hidden" %}
    {% heroicon_outline "eye" class="size-4" x_show="!hidden" %}
  </button>
</div>
