{% extends "talks/dcus2024/base.html" %}

{% load partials %}
{% load tailwind_cli %}

{% block css %}
  {% tailwind_css %}
{% endblock css %}

{% partialdef field-partial %}
  <div hx-get="."
       hx-vals='{"_validate_field": "{{ field.name }}" }'
       hx-trigger="password-blur from:#{{ field.auto_id }}_container"
       hx-include="#{{ field.auto_id }}"
       hx-target="this"
       hx-swap="outerHTML">{{ field.as_field_group }}</div>
{% endpartialdef %}

{% block content %}
  <div class="flex justify-center items-center min-h-full">
    <form class="grid grid-cols-1 gap-4" hx-ext="morphdom-swap">
      {{ form.non_field_errors }}
      {% with field=form.current_password %}
        {% partial field-partial %}
      {% endwith %}
      <fieldset>
        <legend class="block mb-2 text-sm font-medium text-gray-900 cursor-default select-none">New password</legend>
        <div class="grid grid-cols-1 gap-2">
          {% with field=form.new_password1 %}
            {% partial field-partial %}
          {% endwith %}
          {% with field=form.new_password2 %}
            {% partial field-partial %}
          {% endwith %}
        </div>
      </fieldset>
      <button type="reset"
              class="mt-4 h-10 text-blue-50 font-medium text-sm px-4 bg-blue-800 hover:bg-blue-900 rounded-lg whitespace-nowrap flex items-center justify-center shadow-[inset_0px_1px_theme(colors.blue.900),inset_0px_2px_theme(colors.white/.15)] active:scale-[.99] focus:outline-2 focus:outline-offset-[3px] focus:outline focus:outline-blue-500">
        Submit
      </button>
    </form>
  </div>
{% endblock content %}
