{% load django_htmx %}
{% load django_simple_nav %}
{% load heroicons %}
{% load tailwind_cli %}
{% load static %}

<!DOCTYPE html>
<html lang="en"
      class="text-gray-900 bg-gray-50 dark:text-gray-100 dark:bg-gray-900">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>

      {% block title %}
        {{ site.title }}
      {% endblock title %}

    </title>
    <meta name="description" content="The personal website of Josh Thomas.">
    <meta name="author" content="Josh Thomas">
    <meta name="keywords"
          content="Josh Thomas,Josh,Thomas,Joshua Thomas,Joshua,Personal,Website">
    <meta name="view-transition" content="same-origin" />

    {% block css %}
    {% endblock css %}

    <style>
      ::view-transition-old(root),
      ::view-transition-new(root) {
        animation-duration: 5s;
      }
    </style>
    {% tailwind_css %}
    <script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.min.js"
            integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
            crossorigin="anonymous"
            defer></script>
    <script src="https://unpkg.com/htmx-ext-head-support@2.0.2/head-support.js"
            integrity="sha384-alEpTwaoXBHw9xh1d3fDZ4lNnOqQYkcIaRQTSQXgSZnAhcnj1H4F27lOZ1Eci1Sp"
            crossorigin="anonymous"
            defer></script>
    <script src="https://unpkg.com/htmx-ext-preload@2.0.1/preload.js"
            integrity="sha384-RKN7eKLXIb5YEIk2f3Gk2dAWySh5p13qfjNHwDevzo8XdDPuzL3SE7WoMgcjZ9wn"
            crossorigin="anonymous"
            defer></script>
    <script src="https://unpkg.com/idiomorph@0.3.0/dist/idiomorph-ext.min.js"
            integrity="sha384-01awMgY2Qxoo57dFZwehcB4wqi9TunC6fiF9hpPaDsLu+ayOG+WvoatvgPWquZh8"
            crossorigin="anonymous"
            defer></script>
    {% django_htmx_script %}
    <script>
      document.addEventListener("htmx:afterSettle", (event) => {
        if ("djdt" in window) {
          window.djdt.init();
        }
        if ("Alpine" in window) {
          Alpine.start()
        }
      });
    </script>
    <script src="{% static 'vendor/js/alpinejs.min.js' %}" defer></script>
    <script defer
            src="https://umami.app.joshthomas.cool/script.js"
            data-website-id="b6f60db8-10ad-4791-83ca-6612b341bfa4"></script>
    <script data-goatcounter="https://joshthomasdev.goatcounter.com/count"
            async
            src="//gc.zgo.at/count.js"></script>

    {% block javascript_head %}
    {% endblock javascript_head %}

  </head>
  <body class="flex{% if debug %} debug-screens{% endif %}"
        hx-boost="true"
        hx-ext="head-support, preload">
    <div class="flex-1 px-2.5 min-h-full lg:px-0">
      <header class="pt-4 mx-auto max-w-2xl text-lg font-semibold">
        <div class="flex justify-between items-center">
          <h1 class="text-2xl">
            <a href="{% url 'index' %}" preload="mouseover">Josh Thomas</a>
          </h1>
          <div class="flex justify-center items-center mt-1 space-x-2.5 sm:space-x-4">
            {% django_simple_nav "config.navigation.SocialNav" %}
          </div>
        </div>
        {% django_simple_nav "config.navigation.MainNav" %}
      </header>
      <main
        {# djLint:off #}class="@container/main hg-grid-2xl pb-24 {% block main_classes %}{% endblock main_classes %}"{# djLint:on #}
        >

        {% block content %}
        {% endblock content %}

      </main>
    </div>
    {% if request.user.is_authenticated %}
      <div id="adminBar"
           class="hidden sticky inset-y-0 w-64 h-screen bg-white border-l shadow-inner">
        <div id="pageStats" class="flex justify-center items-center my-4"></div>
      </div>
    {% endif %}

    {% block extra_body %}
    {% endblock extra_body %}

    <script>
    var t = setInterval(function() {
        if (window.goatcounter && window.goatcounter.visit_count) {
            clearInterval(t)
            window.goatcounter.visit_count({ append: '#pageStats' })
        }
    }, 100)
    </script>

    {% block javascript_foot %}
    {% endblock javascript_foot %}

  </body>
</html>
