{% load django_htmx %}
{% load django_simple_nav %}
{% load heroicons %}
{% load tailwind_cli %}
{% load static %}

<!DOCTYPE html>
<html lang="en"
      class="bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>

      {% block title %}
        {{ site.title }}
      {% endblock title %}

    </title>
    <meta name="description" content="The personal website of Josh Thomas.">
    <meta name="author" content="Josh Thomas">
    <meta name="keywords"
          content="Josh Thomas,Josh,Thomas,Joshua Thomas,Joshua,Personal,Website">
    <meta name="view-transition" content="same-origin" />

    {% block css %}
    {% endblock css %}

    <link rel="stylesheet" href="{% static 'monokai.css' %}">
    <style>
      ::view-transition-old(root),
      ::view-transition-new(root) {
        animation-duration: 5s;
      }
    </style>
    {% tailwind_css %}
    <script src="{% static 'vendor/js/htmx.min.js' %}"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/head-support.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/preload.js"></script>
    {% django_htmx_script %}
    <script>
      document.addEventListener("htmx:afterSettle", (event) => {
        if ("djdt" in window) {
          window.djdt.init();
        }
        if ("Alpine" in window) {
          Alpine.start()
        }
      });
    </script>
    <script src="{% static 'vendor/js/alpinejs.min.js' %}" defer></script>
    <script data-goatcounter="https://joshthomasdev.goatcounter.com/count"
            async
            src="//gc.zgo.at/count.js"></script>

    {% block javascript_head %}
    {% endblock javascript_head %}

  </head>
  <body class="flex{% if debug %} debug-screens{% endif %}"
        hx-boost="true"
        hx-ext="head-support, preload">
    <div class="flex-1 min-h-full px-2.5 lg:px-0">
      <header class="pt-4 text-lg max-w-2xl mx-auto font-semibold">
        <div class="flex justify-between items-center">
          <h1 class="text-2xl">
            <a href="{% url 'index' %}" preload="mouseover">Josh Thomas</a>
          </h1>
          <div class="flex justify-center items-center mt-1 space-x-2.5 sm:space-x-4">
            {% django_simple_nav "config.navigation.SocialNav" %}
          </div>
        </div>
        {% django_simple_nav "config.navigation.MainNav" %}
      </header>
      <main class="@container/main hg-grid-2xl pb-6
        {% block main_classes %}{% endblock main_classes %}
         ">

        {% block content %}
        {% endblock content %}

      </main>
    </div>
    {% if request.user.is_authenticated %}
      <div id="adminBar"
           class="w-64 hidden sticky h-screen inset-y-0 shadow-inner bg-white border-l">
        <div id="pageStats" class="flex items-center justify-center my-4"></div>
      </div>
    {% endif %}

    {% block extra_body %}
    {% endblock extra_body %}

    <script>
    var t = setInterval(function() {
        if (window.goatcounter && window.goatcounter.visit_count) {
            clearInterval(t)
            window.goatcounter.visit_count({ append: '#pageStats' })
        }
    }, 100)
    </script>

    {% block javascript_foot %}
    {% endblock javascript_foot %}

  </body>
</html>
