{% extends "base.html" %}

{% block title %}
  {{ title }} | {{ site.title }}
{% endblock title %}

{% block main_classes %}
  max-w-none prose dark:prose-invert hover:prose-a:text-blue-500
{% endblock main_classes %}

{% block content %}
  <header class="flex flex-col !mt-8 not-prose">
    <h2 class="flex flex-col justify-between items-start text-3xl font-bold tracking-tight text-gray-800 sm:flex-row sm:items-center sm:text-4xl dark:text-gray-100">
      {{ title }}
    </h2>
  </header>
  {{ content }}
{% endblock content %}
