@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4 {
    position: relative;
    cursor: default;

    .header-anchor {
      display: none;
    }

    &:hover {
      .header-anchor {
        display: inline-block;
        position: absolute;
        left: -1.5rem;
        padding-right: 1.5rem;
        text-decoration-line: none;

        &:hover {
          text-decoration-line: underline;
        }
      }
    }
  }
}

@layer utilities {
  .scrollbar-stable {
    scrollbar-gutter: stable both-edges;
  }
}
