---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import config from "../config.json";

export interface Props {
  title: string;
  description?: string;
  showLayoutHeader?: boolean;
}

const {
  title,
  description,
  showLayoutHeader = true,
} = Astro.props.frontmatter || (Astro.props as Props);

function replaceBackTicks(str: string) {
  return str.replace(/`([^`]+)`/g, "<code>$1</code>");
}
---

<!DOCTYPE html>
<html lang="en">
  <Head title={`${title} | ${config.title}`} />
  <body
    class="container max-w-4xl mx-auto text-zinc-800 dark:text-zinc-100 bg-zinc-50 dark:bg-zinc-800"
  >
    <Header />
    <main class="px-2 mx-auto mt-10 md:px-0">
      {
        showLayoutHeader && (
          <section class="max-w-xl mx-auto">
            <h1
              class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
              set:html={replaceBackTicks(title)}
            />
            {description && (
              <p
                class="mt-2 text-xl text-zinc-600 dark:text-zinc-400"
                set:html={replaceBackTicks(description)}
              />
            )}
          </section>
        )
      }
      <slot />
    </main>
  </body>
</html>
